@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 폰트 임포트 */
@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Paperlogy 1 Thin";
  src: url(https://framerusercontent.com/assets/tFPNJd86ODE9UIxALwy5Pkw6P3c.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 2 ExtraLight";
  src: url(https://framerusercontent.com/assets/dxn9KHLNoxlgo0hugrTBNRl5Ync.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 3 Light";
  src: url(https://framerusercontent.com/assets/hK9UzwOKw3tyH5qNqjdwNUaazGU.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 4 Regular";
  src: url(https://framerusercontent.com/assets/lbMH2iYmyrPQ49LGEcV0RA2Vxxo.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 5 Medium";
  src: url(https://framerusercontent.com/assets/JI4C6xNQBdPMqMAJcoLSWHCgrg.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 6 SemiBold";
  src: url(https://framerusercontent.com/assets/5KEs6th84SArgCnoMfsblYRz2g.woff2);
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 7 Bold";
  src: url(https://framerusercontent.com/assets/P5UwaHAZrdb3qbU8Fs6Qz3XIbo.woff2);
  font-display: swap;
}
@font-face {
  font-family: 'MangoDdobak-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* ✅ 전역 변수 */
:root {
  --MainBrownLight: #A97D5E;
  --Primery: #006838;
  --light-color: #93ab9d;
  --text-color: #1E1E1E;
  --highlight-color: #007bff;
  --border-radius: 10px;
  --basic-text-color: #000;
}

/* ✅ 기본 body 폰트 */
body {
  font-family: "Paperlogy 3 Light";
}

/* ✅ 공통 클래스 */
.main-primery {
  color: var(--Primery);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.r3font {
  font-family: "Paperlogy 3 Light" !important;
}
.r4font {
  font-family: "Paperlogy 4 Regular" !important;
}
.position-unset {
  position: unset !important;
}
.basicfont {
  color: #6A6969;
  font-style: normal;
  line-height: normal;
}
.activefont {
  color: var(--MainBrown, #754C43) !important;
}
.sectionContent {
  margin-top: 80px;
  margin-bottom: 80px;
}
.bigfont {
  font-family: "Paperlogy 6 SemiBold" !important;
}
