:root{
    --main-brown-light: #A97D5E;
    --primary: #006838;
    --light-color: #93ab9d;
    --text-color: #1E1E1E;
    --highlight-color: #007bff;
    --border-radius: 10px;
    --basic-text-color: #000;
    --ft-color: #C3B3A3;
    --mint: #A3D9C6;
    --fttextcolor:#3A3A3A;
    --mainbutton:#4C9C8B;
    --quickcolor:#1E3932;
    --topcolor:#FFFFFF80;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F7F7F5;
  font-family: 'Paperlogy';
  font-weight: 300;
}
.gnb_ul > li{
  transition: 0.5s;
  
}
.gnb_ul:before{
  content: "";
  position: absolute;
  left:0;
  right:0;
  top:0;
  height:0;
  background-color:rgba(31, 38, 37, 0.9);
  transition: 0.5s;
}
.gnb_ul:hover:before{
  height:350px;
}
.gnb_ul:hover ~ .topmenuleft,
.gnb_ul:hover ~ .topmenuright {
  display: block;
}


.gnb_ul > li >ul{
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  font-family: 'Paperlogy';
  font-weight: 300;
}

.gnb_ul > li >ul > li > a:hover{
  color: white;
}
.gnb_ul:hover > li {
  padding: 0 50px;
}
.gnb_ul:hover > li> ul{
  display: block;
  visibility: visible;
  opacity: 1;
  font-family: 'Paperlogy';
  font-weight: 300;
}
.gnb_ul > li:after{
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  left:0;
  right:0;
  top:100%;
  transition: 0.5s;
  margin:0 auto
}
.gnb_ul > li:before{
  content: "";
  display: block;
  height: 0;
  background: rgba(45, 61, 58, 0.80);
  position: absolute;
  left:0;
  right:0;
  top:-26px;
  transition: 0.5s;

}
.gnb_ul > li:hover:after{
  width: 100%;
}
.gnb_ul > li:hover:before{
  height: 350px;
}

.semibold {
  font-family: 'Paperlogy' !important;
  font-weight: 600;
}

.regular{
  font-family: 'Paperlogy';
  font-weight: 400;
}